.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 16px;
  margin-top: 60px;
  background-color: var(--color-grey);
  color: var(--color-text-default);
}

.footer p {
  opacity: 0.8;
  font-size: 14px;
  letter-spacing: 0.04em;
}
