.flexContainer {
  display: flex;
  gap: 24px;
  width: 100%;
  max-width: var(--container-max);
  margin: 0 auto;
  align-items: flex-start;
  padding: 0 16px;
}

@media (max-width: 900px) {
  .flexContainer {
    flex-direction: column;
  }
}
