.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 14px 0 22px;
  flex-wrap: wrap;
}

.breadcrumbs li a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: var(--color-text-grey);
}

.breadcrumbs li a:hover {
  color: var(--color-text-default);
}

.breadcrumbs li a:global(.active) {
  color: var(--color-text-default);
  font-weight: 800;
}

.breadcrumbs img {
  width: 14px;
  height: 14px;
  transform: rotate(90deg);
  opacity: 0.6;
}

.breadcrumbs li:last-of-type img {
  display: none;
}
