.button {
  width: 100%;
  padding: 14px 0;
  border-radius: 50px;
  border: none;
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0.05em;
  background-color: var(--color-theme-main);
  transition:
    transform 0.12s ease,
    background-color 0.12s ease;
}

.button:hover {
  transform: translateY(-2px);
}

.black {
  background-color: var(--color-text-default);
}

.black:hover {
  background-color: #111;
}
